{% extends 'index.html' %}
{% block center_line %}
    <h1>Мои подписки</h1>
    <div class="src_result col16">
        {% for subscribe in object_list %}
            <div class="one_line">
                    <div class="col13">
                        <div class="row ol_head">
                            <div class="col10">
                                <h4>{{ subscribe.category.name }}</h4>
                            </div>
                            <div class="col6 right">
                                <p class="p14">{{ subscribe.get_subscribe_type_display }}</p>
                            </div>
                        </div>
                        <div class="ol_icos">
                            <div class="col5"><a href="{% url 'profile:delete_subscribe' subscribe.pk %}">Удалить</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}