{% extends 'index.html' %}
{% load ads_tags %}
{% block center_line %}
    <h1>{{ profile.company }}</h1>
    <div class="my_list_page">
        <div class="my_list_head">
            <div class="pullright right">
                <a href="{% url 'catalog:my_vac_list' %}" class="my_vac">Мои вакансии</a>
                <a href="{% url 'profile:my_subscribes' %}" class="my_vac">Мои подписки</a>
                <a href="{% url 'catalog:my_fav' %}" class="my_fav">Избранные резюме</a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="my_list_body">
            <div class="row">
                <div class="col4 ml_photo">
                    {% if profile.logo %}
                        <img src="{{ MEDIA_URL }}{{ profile.logo }}" alt="">
                    {% else %}
                        <img src="{{ STATIC_URL }}img/conp_def.jpg" alt="">
                    {% endif %}
                    <a href="#" class="p14 js_trigger">Загрузить фото</a>
                </div>
                <div class="col12 ml_descr">
                    <div class="pullright">
                        <!--<a href="{% url 'profile:profile_update' %}" class="ml_edit">Редактировать профиль</a>
                        <a href="{% url 'password_change' %}" class="ml_edit">Сменить пароль</a>-->
                    </div>
                    <p class="p18">{{ profile.contact|default:"" }}</p>
                    <p class="p14">{{ profile.address|default:"" }}</p>
                    <p><a href="tel:{{ profile.phone|default:"" }}" class="ml_phone p14">{{ profile.phone|default:"" }}</a></p>
                    <p><a href="mailto:{{ request.user.email }}" class="ml_mail p14">{{ request.user.email }}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div class="modal" id="test-modal" style="display: none">
		<a href="#" class="close"><img src="{{ STATIC_URL }}img/cross.png" alt=""></a>
		<div>
			<form method="POST" id="form_1" class="formv" action="{% url 'profile:profile_set_photo' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="photo">
                <button type="submit" class="wide_yellow">Сменить фото</button>
			</form>
		</div>
    </div>
    {% get_categories as categories %}
    <div class="modal" id="subscribe-modal" style="display: none">
		<a href="#" class="close"><img src="{{ STATIC_URL }}img/cross.png" alt=""></a>
		<div>
			<form method="POST" id="form_1" class="formv" action="{% url 'profile:create_subscribe' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="redirect" value="{{ request.path }}">
                <label for="slug">
                    Тип подписки
                </label>
                <select name="slug" id="slug">
                    <option value="0">Вакансии</option>
                    <option value="1">Резюме</option>
                </select>
                <label for="category">
                    Сфера деятельности
                </label>
                <select name="category" id="">
                    {% for cat in categories.cat_list %}
                        <option value="{{ cat.pk }}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="wide_yellow">Подписаться</button>
			</form>
		</div>
    </div>
{% endblock %}