<div class="quest_blc_big" id="poll_card_{{ poll.pk }}">
    <div class="new_feat_in quest_blc">
        <p class="p16">{{ poll.name }}</p>
        <form action="{% url 'poll:vote' poll.pk %}" class="vote_form" id="vote_form_{{ poll.pk }}">
            {% csrf_token %}
            {% if poll.multiple_choice %}
                {% for vote in poll.votes.all %}
                    <div>
                        <input type="checkbox" name="vote" value="{{ vote.pk }}" id="vote_{{ vote.pk }}">
                        <label for="vote_{{ vote.pk }}">{{ vote.name }}</label>
                    </div>
                {% endfor %}
            {% else %}
                {% for vote in poll.votes.all %}
                    <div>
                        <input type="radio" name="vote" value="{{ vote.pk }}" id="vote_{{ vote.pk }}">
                        <label for="vote_{{ vote.pk }}">{{ vote.name }}</label>
                    </div>
                {% endfor %}
            {% endif %}
            <button class="btn_black" data-form-id="{{ poll.pk }}" type="button">Проголосовать</button>
        </form>
        {% if show_link %}
            <a href="{% url 'poll:polls_list' %}">Посмотреть все опросы</a>
        {% endif %}
    </div>
</div>