<div class="quest_blc_big">
    <div class="new_feat_in quest_blc">
        <p class="p16">{{ poll.name }}</p>
        {% for vote in poll.get_results.votes %}
            <div class="qs_res_one">
                <p class="p13">{{ vote.name }} (<b>{{ vote.percent }}%, {{ vote.count }}</b> по голосам)</p>
                <div class="progress_bar" data-size="{{ vote.percent }}%" style="width: {{ vote.percent }}%;"></div>
            </div>
        {% endfor %}
        <p class="p12">Всего проголосовавших: <b>{{ poll.get_results.count }}</b> человек </p>

    </div>
</div>