<h3>Опрос</h3>
<p class="p16">{{ poll.name }}</p>
{% if view == 'form' %}
<form action="{% url 'poll:vote' poll.pk %}" class="vote_form" id="vote_form_{{ poll.pk }}">
        {% csrf_token %}
        {% if poll.multiple_choice %}
            {% for vote in poll.votes.all %}
                <div>
                    <input type="checkbox" name="vote" value="{{ vote.pk }}" id="vote_{{ vote.pk }}">
                    <label for="vote_{{ vote.pk }}">{{ vote.name }}</label>
                </div>
            {% endfor %}
        {% else %}
            {% for vote in poll.votes.all %}
                <div>
                    <input type="radio" name="vote" value="{{ vote.pk }}" id="vote_{{ vote.pk }}">
                    <label for="vote_{{ vote.pk }}">{{ vote.name }}</label>
                </div>
            {% endfor %}
        {% endif %}
        <button class="btn_black" data-form-id="{{ poll.pk }}" type="button">Проголосовать</button>
</form>
{% else %}
    {% for vote in poll.get_results.votes %}
        <div class="qs_res_one">
            <p class="p13">{{ vote.name }} (<b>{{ vote.percent }}%, {{ vote.count }}</b> по голосам)</p>
            <div class="progress_bar" data-size="{{ vote.percent }}%" style="width: {{ vote.percent }}%;"></div>
        </div>
    {% endfor %}
    <p class="p12">Всего проголосовавших: <b>{{ poll.get_results.count }}</b> человек </p>
{% endif %}
<div class="center">
    <a href="{% url 'poll:polls_list' %}">Посмотреть все опросы</a>
</div>