{% extends 'index.html' %}
{% block center_line %}
    <div class="quest_blc">
        <h1>Вход</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.errors }}
            {% for field in form %}
                <div>
                    <label for="">{{ field.label }}</label>
                    {{ field }}
                    {% for err in field.errors %}
                        <p>{{ err }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" value="Войти">
        </form>
        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        <a href="{% url 'registration_variant' %}">Зарегистрироваться</a>
    </div>
{% endblock %}