{% extends 'base.html' %}
{% block center_line %}
    <div class="quest_blc">
        <h1>Восстановление пароля</h1>
        {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <label for="">{{ field.label }}</label>
                    {{ field }}
                    {% for err in field.errors %}
                        <p>{{ err }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" value="Сохранить">
        </form>
        {% else %}
            <p>Смена пароля невозможна</p>
        {% endif %}
    </div>
{% endblock %}