{% extends 'index.html' %}
{% block center_line %}
    <a class="link_regs" href="{% url 'registration_register_employer' %}">Регистрация как работодатель</a>
    <a class="link_regs" href="{% url 'registration_register_applicant' %}">Регистрация как соискатель</a>
{% endblock %}