{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>Акции</h1>
    <div class="promo_blc">
            {% for action in object_list %}
                {% if forloop.first or forloop.counter|divisibleby:3 %}
                    <div class="row">
                {% endif %}
                <div class="col8">
                    <a data-fancybox="gallery" href="{{ MEDIA_URL }}{{ action.banner }}">
                        <img src="{{ MEDIA_URL }}{{ action.banner }}" alt="{{ action.name }}">
                    </a>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    </div>
                {% endif %}
            {% endfor %}
    </div>
{% endblock %}