{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>{{ object.title }}</h1>
    <div class="artic_one">
        {% if object.cover %}
            {% thumbnail object.cover "584x203" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ object.title }}">
            {% endthumbnail %}
        {% endif %}
        {{ object.text|safe }}
        <div class="row artic_feat_links">
            <div class="col4">
                <p class="p12">{{ object.created|date:"d.m.Y" }}</p>
            </div>
            <div class="col8">
                <p class="all_views">{{ object.views }} просмотров</p>
            </div>
        </div>
        <div class="row artic_feat_links">
            {% if object.get_next_article %}
            <div class="col5 pullright right">
                <a class="p14" href="{% url 'content:article' object.get_next_article.slug %}">Слудующая статья &gt;&gt;</a>
            </div>
            {% endif %}
            {% if object.get_previous_article %}
            <div class="col4 pullright right">
                <a class="p14" href="{% url 'content:article' object.get_previous_article.slug %}">&lt;&lt; Назад</a>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}