{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>Знаменательные даты и события в {{ month }}!</h1>
    <div class="dates_page">
        <div class="main_date">
            <p class="p20">Уважаемые друзья, от всей души поздравляем Вас!</p>
            <p class="p16">Пусть радость и счастье,</p>
            <p class="p16">Любовь и участье – всегда освещают Ваш путь.</p>
            <p class="p16">Пусть умчатся подальше невзгоды,</p>
            <p class="p16">И поменьше обидных потерь</p>
            <p class="p16">В жизни – только «хорошей погоды»,</p>
            <p class="p16">Рядом – только надежных друзей.</p>
        </div>
        {% for birth_date in object_list %}
            <div class="other_dates">
                <p class="p14">{{ birth_date.birth_day|date:"j E" }} — {{ birth_date.name }}, {{ birth_date.sign }}.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}