{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>Контакты</h1>
    <div class="cont_page">
                    <div class="row">
                        <div class="col7">
                            <img src="{{ STATIC_URL }}img/cont_photo.jpg" alt="">
                        </div>
                        <div class="col9">
                            <div class="mar_bot20">
                                <p class="p14"><b>По вопросам редакционной политики обращайтесь:</b></p>
                            </div>
                            <div class="mar_bot20">
                                <p class="p14"><b>Главный редактор:</b></p>
                                <p class="p14">Несмеянова Ольга Анатольевна,</p>
                            </div>
                            <div class="mar_bot20">
                                <p class="p14"><b>тел:</b></p>
                                <p class="p14"><a href="tel:+78332210360">8(8332) 21-03-60</a></p>
                            </div>
                            <div class="mar_bot20">
                                <p class="p14"><b>Электронная почта:</b></p>
                                <p class="p14"><a href="mailto:kg@kadry-goroda.ru">kg@kadry-goroda.ru</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col16">
                            <div class="mar_bot20">
                                <p class="p14"><b>Реквизиты:</b></p>
                                <p class="p14">ИП Несмеянова Ольга Анатольевна<br>
                                    ИНН 434550249694 ОГРН 310434534100027<br>
                                    Юридический адрес: 610017, г. Киров, ул. Красноармейская, д.61 кв. 39.<br>
                                    Банковские реквизиты:<br>
                                    Р/сч № 40802810400200000415<br>
                                    в ОАО КБ «Хлынов» г. Киров<br>
                                    к/с № 30101810100000000711 БИК 043304711</p>
                            </div>
                            <div class="mar_bot20">
                                <p class="p14"><b>По вопросам размещения рекламы обращайтесь:</b></p>
                                <p class="p14">Телефоны: 8(8332)21-42-04, 21-42-08, 21-57-23<br>
                                    Тел./факс: 8(8332)21-30-28,<br>
                                    Эл.почта: kg@kadry-goroda.ru</p>
                            </div>


                            <div class="mar_bot20">
                                <p class="p14"><b>Адрес редакции:</b></p>
                                <p class="p14">610020, г. Киров, ул. К. Маркса, д.18<br>
(офисный центр «Торговые ряды на Крине»), офис 203, 204<br>
Проезд на общественном транспорте до остановки Дворец Бракосочетаний:</p>
                            </div>
                             <div class="mar_bot20">
                                <p class="p14"><b>График работы:</b></p>
                                <p class="p14">Пн-пт. 8.00-17.00, обед с 12:00 до 13:00<br>
                                    суббота и воскресенье — выходные дни.</p>
                            </div>

                        </div>
                    </div>
                </div>
{% endblock %}