{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>Отзывы</h1>
    <div class="testim_page">
        {% for feedback in feedback_list %}
            <div class="testim_one">
                <h4>Компания: «{{ feedback.company_name }}»</h4>
                <div class="testim_body">
                    {% if feedback.company_logo %}
                        {% thumbnail feedback.company_logo "165x165" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ feedback.company_name }}">
                        {% endthumbnail %}
                    {% endif %}
                    {{ feedback.text|safe }}
                </div>
                <p class="pullright p14">{{ feedback.sign }}</p>
                <p class="p13">Добавлено: {{ feedback.created|date:'d F o' }}</p>
            </div>
        {% empty %}
            <div class="testim_one">
                <h4>Еще нет отзывов</h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}