{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>Выпуски газет</h1>
        {% for newspaper in object_list %}
            {% if forloop.first  %}
                <div class="row1">
            {% endif %}
                <div class="new_feat">
                    <a href="{{ MEDIA_URL }}{{ newspaper.paper_file }}" target="_blank">
                        <img src="{{ MEDIA_URL }}{{ newspaper.preview }}" alt="{{ newspaper.name }}">
                        <p class="p13">{{ newspaper.name }} {{ newspaper.date_release|date:"d E Y" }}</p>
                    </a>
                </div>
            {% if forloop.last or forloop.counter|divisibleby:3 %}
               </div>
            {% endif %}
            {% if not forloop.last and forloop.counter|divisibleby:3 %}
                <div class="row1">
            {% endif %}
        {% endfor %}
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
