{% extends 'index.html' %}
{% load thumbnail %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.custom-scrollbar.css">
{% endblock %}
{% block center_line %}
    <h1>Вопрос юристу</h1>
    <div class="jur_answer">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="other_dates">
            <a href="{% url 'content:qa_create' %}">
                <span class="p40">+</span><span class="p16">Хочешь задать вопрос нашему юристу?Жми!</span>
            </a>
        </div>
        <p class="p22">{{ object.question }}</p>
        {% if object.image %}
            <img src="{{ MEDIA_URL }}{{ object.image }}" alt="{{ qa.question }}">
        {% endif %}
        {{ object.answer|safe }}
    </div>
{% endblock %}
{% block right_line %}
    <div class="jur_nav2 default-skin">
        <div class="jur_lnks">
            <p class="jur_h1">По годам:</p>
            {% for year in years %}
                <a href="{% url 'content:qa_year' year.year %}" class="qa_year_link">{{ year|date:"Y" }}</a>
            {% endfor %}
        </div>
        <div class="jur_lnk1">
            {% for qa in qa_list %}
                <a href="{% url 'content:qa_detail' qa.pk %}">
                    <p class="j_date">{{ qa.created|date:"d E Y" }}</p>
                    <p class="j_intro">{{ qa.question|truncatewords:10 }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block bottom_js %}
    <script src="{{ STATIC_URL }}js/jquery.custom-scrollbar.js"></script>
    <script>
        $(document).ready(function() {
          $(".jur_nav2").customScrollbar();
        });
    </script>
{% endblock %}