{% extends 'index.html' %}
{% load thumbnail %}
{% block center_line %}
    <h1>Исследования зарплат</h1>
    <div class="research_page">
        <div class="research_page_head">
            <p class="right p14">
                <span>По годам: </span>
                {% for year in years %}
                    <a class="{% if year == current_year %}curr_page{% endif %}" href="{% url 'content:stat_list_year' year.year %}">{{ year.year }}</a>
                {% endfor %}
            </p>
        </div>
        <div>
            <form>
                <div class="row">
                    <div class="col5">
                        <p class="p14">Сфера деятельности</p>
                    </div>
                    <div class="col11">
                        <select name="category" id="">
                            {% for category in categories %}
                                <option value="{{ category.pk }}" {% if category.pk|stringformat:'d' == request.GET.category %}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col5">
                        <p class="p14">Профессия</p>
                    </div>
                    <div class="col11">
                        <input type="text" name="profession" value="{{ request.GET.profession }}">
                    </div>
                </div>
                <div class="row">
                    <div class="pullright col5">
                        <button class="btn_yel">Поиск</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            {% for item in object_list %}
                <p class="p18">
                    Статистика для соискателей.<br>
                    Средняя зарплата "{{ item.profession }}"
                </p>
                {% thumbnail item.chart "600x300" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ item.profession }}">
                {% endthumbnail %}
            {% endfor %}
        </div>


    </div>
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}