.container{
    margin:0 auto;
    max-width:1320px;
    padding:0 10px;
}
.row{
    overflow:hidden;
    margin:0 -10px;
}
.row1{
    overflow:hidden;
    margin:0 -5px;
}
.row:after, .row1:after{
    content:'';
    clear:both;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .col16{
    padding:0 10px;
    float:left;
}
.col1{
    width:6.25%;
}
.col2{
    width:12.5%;
}
.col3{
    width:18.75%;
}
.col4{
    width:25%;
}
.col5{
    width:31.25%;
}
.col6{
    width:37.5%;
}
.col7{
    width:43.75%;
}
.col8{
    width:50%;
}
.col9{
    width:56.25%;
}
.col10{
    width:62.5%;
}
.col11{
    width:68.75%;
}
.col12{
    width:75%;
}
.col13{
    width:81.25%;
}
.col14{
    width:87.5%;
}
.col15{
    width:93.75%;
}
.col16{
    width:100%;
}
.pullright{
    float:right;
}
.right{
    text-align:right;
}
.center{
    text-align:center;
}