.my_list_page .ml_descr label{
    width: 38%;
    display: inline-block;
    color: #3b3b3b;
    font-size: 14px;
    vertical-align: top;
}

.my_list_page .ml_descr textarea{
    height: 125px;
    width: 61%;
    padding-left: 5px;
    border: none;
    background: #F4F4F4;
    padding-top:5px;
    resize:none;
}
.link_regs{
    background: #999999;
    color: white;
    padding: 13px 20px;
    margin-top: 0px;
    display: inline-block;
    border: none;
}
.link_regs:hover{
background: white;
color: black;
border: 1px solid #999999;
}
.my_list_page .ml_descr input[type="text"],.my_list_page .ml_descr input[type="email"],.my_list_page .ml_descr input[type="password"],
.my_list_page .ml_descr select,
.my_list_page .ml_descr input[type="number"]{
    height: 45px;
    width: 61%;
    padding-left: 5px;
    border: none;
    background: #F4F4F4;
}
.my_list_page .ml_descr input[type="submit"]{
    background: #FFF839;
    font-size: 14px;
    float: right;
    padding: 13px 20px;
    clear: both;
}
.g-recaptcha{
    float: right;
    clear: right;
}
.center_main .quest_blc div,.my_list_page .ml_descr div{
    margin-bottom: 10px;
}
.center_main .quest_blc input[type="submit"]{
    background: #FFF839;
    font-size: 14px;
    padding: 10px 35px;
    border: none;
    margin-bottom:10px;
}
.center_main .quest_blc input[type="text"],.quest_blc input[type="password"]{
    height: 45px;
    width: 61%;
    padding-left: 5px;
    border: none;
    background: #F4F4F4;
}
.center_main .quest_blc label{
    width: 30%;
    display: inline-block;
    color: #3b3b3b;
    font-size: 14px;
}