{% extends 'index.html' %}
{% block center_line %}
    <h1>{% if query %}Результаты по запросу "{{query}}"{% else %}Поиск по сайту{% endif %}</h1>
    <div class="testim_page">
    {% if search_results %}
        {% for result in search_results %}
            <div class="testim_one search_list">
                <a href="{{ result.url }}"><h4>{{ result.title }}</h4></a>
                <div class="testim_body">
                    {% if result.description %}
                        {{ result.description|safe|truncatechars:100 }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% if query %}
            <p>Ничего не нашлось</p>
        {% else %}
            <p>Введите запрос</p>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}