<div>
    <p class="p14">Требуемый опыт работы: <b>{{ experience|default:"Не указано" }}</b></p>
</div>
<div>
    <p class="p14 p14_sub"><b>Описание вакансии</b></p>
    <p class="p14">{{ description|default:"Не указано" }}</p>
</div>
<div>
    <p class="p14 p14_sub"><b>Обязанности:</b></p>
    <p class="p14">{{ charge|default:"Не указано" }}</p>
</div>
<div>
    <p class="p14 p14_sub"><b>Условия:</b></p>
    <p class="p14">{{ conditions|default:"Не указано"}}</p>
</div>
<div>
    <p class="p14 p14_sub"><b>Компания:</b> {{ company }}</p>
    <p class="p14 p14_sub"><b>Телефон:</b> {{ phone }}</p>
    <p class="p14 p14_sub"><b>E-mail:</b> {{ email }}</p>
    <p class="p14 p14_sub"><a href="{% url 'catalog:to_print' 'vacancy' pk %}" target="_blank">Распечатать</a></p>
</div>