{% load ads_tags %}
{% get_favorites request.user as favorites %}
{% for vacancy in list %}
    <div class="one_line {% if vacancy.in_top %}in_top{% endif %}">
        <div class="col13">
            <div class="row ol_head">
                <div class="col10">
                    <h4>{{ vacancy.title }}</h4>
                </div>
                <div class="col6 right">
                    {% if vacancy.salary_min and vacancy.salary_max %}
                        <p class="p14 yel_select">{{ vacancy.salary_min }} – {{ vacancy.salary_max }} Р</p>
                    {% elif vacancy.salary_min %}
                        <p class="p14 yel_select">{{ vacancy.salary_min }} Р</p>
                    {% elif vacancy.salary_max %}
                        <p class="p14 yel_select">{{ vacancy.salary_max }} Р</p>
                    {% else %}
                        <p class="p14 yel_select">Не указано</p>
                    {% endif %}
                </div>
            </div>
            <div class="short_descr">
                <p class="p14">
                    <b>Требования:</b> {{ vacancy.requirements }}
                </p>
            </div>
            <div class="full_descr" style="display: none;"></div>
            <div class="ol_icos">
                {% if request.user.is_authenticated %}
                    {% if favorites and vacancy.pk in favorites.vac %}
                        <div class="col5"><a href="{% url 'catalog:delete_fav' 'vac' vacancy.pk %}"  class="delete_fav">Избранное</a></div>
                    {% else %}
                        <div class="col5"><a href="{% url 'catalog:add_fav' 'vac' vacancy.pk %}"  class="to_fav">Избранное</a></div>
                    {% endif %}
                {% endif %}
                <div class="col5"><p class="all_views">{{ vacancy.view_count }} просмотров</p></div>
                {% if forloop.counter == 1 %}
                    <div class="col6"><p>Добавлено: {{ vacancy.created|date:"j E Y" }}</p></div>
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>
        <div class="ol_footer">
            <div class="col8">
                <p class="show_more_ol" data-type="0" data-pk="{{ vacancy.pk }}">Посмотреть полностью</p>
            </div>
            <div class="col8 right">
                <a href="{% url 'catalog:vac_reply' vacancy.pk %}" class="btn_white">Отправить резюме работодателю</a>
            </div>
        </div>
    </div>
{% endfor %}