{% load user_tags polls_tags content_tags menu_tags ads_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% if meta_title %}{{ meta_title }}{% else %}{{ META_TITLE }}{% endif %}</title>
    <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ META_DESCRIPTION }}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/1140_ed.css">
    <!--
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/form.css">
    -->
    <link rel="stylesheet" href="http://zesu.ru/main.css">
    <link rel="stylesheet" href="http://zesu.ru/form.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
    {% block css %}
    {% endblock %}
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row over_visible">
            <div class="col3 logo_rel">
                <a href="{% url 'catalog:index' %}"><img src="{{ STATIC_URL }}img/logo.jpg" alt=""></a>
            </div>
            <div class="col3 top_pad_lt">
                <p><a href="/?view=c" class="p16">Поиск резюме</a></p>
                <p><a href="/?view=v" class="p16">Поиск вакансий</a></p>
            </div>
            {% if request.user.is_authenticated %}
                <div class="col3 top_pad_lt">
                    <p><a href="{% url 'catalog:vacancy_create' %}" class="p16">Разместить вакансию</a></p>
                    <p><a href="{% url 'catalog:cv_create' %}" class="p16">Разместить резюме</a></p>
                </div>
            {% else %}
                <div class="col3 top_pad_lt">
                    <p><a href="{% url 'catalog:vacancy_create' %}" class="p16">Разместить вакансию</a></p>
                    <p><a href="{% url 'catalog:cv_unregister' %}" class="p16">Разместить резюме</a></p>
                </div>
            {% endif %}
            {% if request.user.is_authenticated %}
                <div class="col3 pullright right">
                    <p class="akk_lnk"><a href="{% url 'profile:profile' %}" class="p16">Личный кабинет</a></p>
                    <p class="akk_lnk"><a href="{% url 'logout' %}" class="p16">Выход</a></p>
                    {% get_fav_ad_count request.user as ad_count %}
                    <p class="fav_lnk"><a href="{% url 'catalog:my_fav' %}" class="p16">Избранное: (<span id="fav_count">{{ad_count}}</span>)</a></p>
                </div>
            {% else %}
                <div class="col3 pullright right">
                    <p class="akk_lnk"><a href="{% url 'login' %}" class="p16">Вход</a></p>
                    <p class="akk_lnk"><a href="{% url 'registration_variant' %}" class="p16">Регистрация</a></p>
                </div>
            {% endif %}
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col3">
                <p class="p14">Кировская региональная<br>
                    газета о работе</p>
            </div>
            <div class="col8 pullright right">
                <form class="top_search" action="{% url 'search' %}">
                    <input type="search" name="q">
                    <button type="submit"><img src="{{ STATIC_URL }}img/ico_search.png" alt=""></button>
                </form>
                {% get_last_newspaper as news_paper %}
                {% if news_paper %}
                    <div class="btn_yel"><a href="{{ MEDIA_URL }}{{ news_paper.paper_file }}">Свежий выпуск от {{ news_paper.date_release|date:"d E Y" }} г</a></div>
                {% endif %}
                {% if request.user.is_authenticated and request.user.profile_employer %}
                    <div class="btn_black js_trigger2">Подписаться на резюме</div>
                {% else %}
                    <div class="btn_black js_trigger2">Подписаться на вакансии</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="content">
    <div class="container">
        <div class="row over_visible">
            <div class="col3 left_nav">
                <ul class="nav_level1">
                    <li id="nav_ico1">
                        <a href="#">Об издании</a>
                        <div>
                            <ul class="nav_level2">
                                <li class="{% is_active menu_slug 'index' %}"><a href="{% url 'catalog:index' %}"><span>О газете</span></a></li>
                                <li class="{% is_active menu_slug 'feed' %}"><a href="{% url 'content:feedback' %}"><span>Отзывы клиентов</span></a></li>
                                <li class="{% is_active menu_slug 'partners' %}"><a href="{% url 'content:partners' %}"><span>Наши партнеры</span></a></li>
                                <li class="{% is_active menu_slug 'birthday' %}"><a href="{% url 'content:birth_day' %}"><span>Поздравления пртнеров</span></a></li>
                                <li class="{% is_active menu_slug 'posts' %}"><a href="{% url 'content:articles' %}"><span>Наши статьи</span></a></li>
                                <li class="{% is_active menu_slug 'news' %}"><a href="{% url 'content:news_list' %}"><span>Новости</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="{% is_active menu_slug 'archive' %}" id="nav_ico2"><a href="{% url 'content:archive' %}">Архив газеты</a></li>
                    <li class="{% is_active menu_slug 'qa' %}" id="nav_ico3"><a href="{% url 'content:qa_detail' %}">Юрист отвечает</a></li>
                    <li class="{% is_active menu_slug 'edu' %}" id="nav_ico4"><a href="{% url 'content:education' %}">Обучение</a></li>
                    <li class="{% is_active menu_slug 'prices' %}" id="nav_ico5"><a href="{% url 'content:prices' %}">Прайсы</a></li>
                    <li class="{% is_active menu_slug 'actions' %}" id="nav_ico6"><a href="{% url 'content:actions' %}">Акции</a></li>
                    <li class="{% is_active menu_slug 'poll' %}" id="nav_ico7"><a href="{% url 'poll:index' %}">Наши опросы</a></li>
                    <li class="{% is_active menu_slug 'stat' %}" id="nav_ico8"><a href="{% url 'content:stat_list' %}">Статистика зарплат</a></li>
                    <li class="{% is_active menu_slug 'contact' %}" id="nav_ico9"><a href="{% url 'content:contacts' %}">Контакты</a></li>
                </ul>
            </div>
            <div class="col3 left_links">
                {% block left_line %}
                {% endblock %}
            </div>
            <div class="col7 center_main">
                {% block center_line %}
                {% endblock %}
            </div>
            <div class="col3 right_links">
                {% block right_line %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {% block pagination %}

    {% endblock %}
    <div class="content_bottom">
        <div class="new_feat">
            <div class="new_feat_in">
                <h3>Почитать</h3>
                <a href="{% url 'content:expert_note_list' %}"><h4>Мнение эксперта</h4></a>

                <p class="p16">Статей: {% get_expert_counter %}</p>
                <a href="{% url 'content:news_list' %}"><h4>Новости</h4></a>
                <p class="p16">Статей: {% get_news_counter %}</p>
                <a href="{% url 'content:articles' %}"><h4>Статьи о наших клиентах</h4></a>
                <p class="p16">Статей: {% get_article_counter %}</p>
            </div>
        </div>
        <div class="new_feat">
            <div class="new_feat_in">
                <h3>События</h3>
                <a href="{% url 'content:birth_day' %}"><h4>Есть повод!</h4></a>
                <p class="p16">Дни рождения наших клиентов</p>
                <a href="{% url 'content:events' %}"><h4>Ярмарки вакансий и выставки</h4></a>
                <p class="p16">Мероприятия города</p>
            </div>
        </div>
        <div class="new_feat">
            <div class="new_feat_in quest_blc">
                {% render_poll_in_footer request %}
            </div>
        </div>
        <div class="clear"></div>
        <div class="promo_tx_wr">
            <div class="promo_tx">
                <p class="p14">Удобный привлекательный формат газеты А3, четкий рубрикатор делают издание понятным для кандидатов, недорогая стоимость в точках продаж 8 руб., правдивый еженедельный тираж в 3000 экземпляров и обширное бесплатное распространение делают газету доступной для читателей.</p>
                <p class="p14">Удобный привлекательный формат газеты А3, четкий рубрикатор делают издание понятным для кандидатов, недорогая стоимость в точках продаж 8 руб., правдивый еженедельный тираж в 3000 экземпляров и обширное бесплатное распространение делают газету доступной для читателей.</p>
                <p class="p14">
                    С октября 2012 года редакция газеты «Кадры города» запустила специальный четверговый выпуск издания. Этот номер целиком и полностью посвящен информации об открытых вакансиях и работе в Кирове. Свежие вакансии Кирова ждут Вас! Номер для тех, кому срочно нужны сотрудники и для тех, кто хочет быстро трудоустроиться, не откладывая поиск работы до понедельника.</p>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="footer">
    <div class="container">
        <div class="row over_visible">
            <div class="col4 logo_rel">
                <img src="{{ STATIC_URL }}img/logo.jpg" alt="">
            </div>
            <div class="col3 ft_menu">
                <h3>Об издании</h3>
                <ul>
                    <li><a href="#">О газете</a></li>
                    <li><a href="#">Отзывы клиентов</a></li>
                    <li><a href="#">Наши партнеры</a></li>
                    <li><a href="#">Архив газеты</a></li>
                    <li><a href="#">Юрист отвечает</a></li>
                </ul>
            </div>
            <div class="col3 ft_menu ft_menu2">
                <ul>
                    <li><a href="#">Обучение</a></li>
                    <li><a href="#">Прайсы</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Наши опросы</a></li>
                    <li><a href="#">Статистика зарплат</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="col4 pullright right">
                <div><a href="tel:+78002222222" class="tel_footer">8-800-222-22-22</a></div>
                <div><a href="tel:+788332210360" class="tel_footer">8(8332)-21-03-60</a></div>
                <p class="ft_addr">г.Киров, ул. К. Маркса, 18 оф. 203,204</p>
                <div class="ft_socials">
                    <a href="#"><img src="{{ STATIC_URL }}img/ico_socials.jpg" alt=""></a>
                    <a href="#"><img src="{{ STATIC_URL }}img/ico_gplay.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% block modal %}
{% endblock %}
    {% get_categories as categories %}
    <div class="modal" id="subscribe-modal" style="display: none">
		<a href="#" class="close"><img src="{{ STATIC_URL }}img/cross.png" alt=""></a>
		<div>
			<form method="POST" id="form_1" class="formv" action="{% url 'profile:create_subscribe' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="redirect" value="{{ request.path }}">
                <label for="slug">
                    Тип подписки
                </label>
                <select name="slug" id="slug">
                    <option value="0">Вакансии</option>
                    <option value="1">Резюме</option>
                </select>
                <label for="category">
                    Сфера деятельности
                </label>
                <select name="category" id="">
                    {% for cat in categories.cat_list %}
                        <option value="{{ cat.pk }}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="wide_yellow">Подписаться</button>
			</form>
		</div>
    </div>
<script src="{{ STATIC_URL }}js/jquery-3.2.1.min.js"></script>
<script src="{{ STATIC_URL }}js/modal.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script>
    var defaults_fancy = {


    infobar : true,

    toolbar : true,

    buttons : [
        'fullScreen',
        'close'
    ],


    afterShow:
        function( instance, current ) {
             var url = current.opts.$orig.data('url');
             $.get(url);
        },




    // Internationalization
    // ============

    lang : 'ru',
    i18n : {
        'ru' : {
            CLOSE       : 'Закрыть',
            ERROR       : 'Ошибка загрузки контента',
            FULL_SCREEN : 'На весь экран',
            THUMBS      : 'Превью',
            DOWNLOAD    : 'Загрузить',
            ZOOM        : 'Увеличить'
        }
    }

};
    $("[data-fancybox]").fancybox(defaults_fancy);
</script>
{% block bottom_js %}
{% endblock %}
</body>
</html>