{% extends 'base.html' %}
{% load banners_tag ads_tags %}
{% block left_line %}
    {% get_banners request.path as banners %}
    {% autoescape off %}
        {{ banners.0|render_banner }}
        {{ banners.1|render_banner }}
        {{ banners.2|render_banner }}
        {{ banners.3|render_banner }}
        {{ banners.4|render_banner }}
        {{ banners.5|render_banner }}
        {{ banners.6|render_banner }}
        {{ banners.7|render_banner }}
        {{ banners.8|render_banner }}
        {{ banners.9|render_banner }}
        {{ banners.10|render_banner }}
        {{ banners.11|render_banner }}
        {{ banners.12|render_banner }}
        {{ banners.13|render_banner }}
        {{ banners.14|render_banner }}
        {{ banners.15|render_banner }}
        {{ banners.16|render_banner }}
        {{ banners.17|render_banner }}
        {{ banners.18|render_banner }}
        {{ banners.19|render_banner }}
    {% endautoescape %}
{% endblock %}
{% block center_line %}
    <div class="row over_visible">
        {% get_categories as categories %}
        <div class="col8">
            <div class="form_m_wrap">
                <p class="p19">СОИСКАТЕЛЮ</p>
                <p class="p12">Поиск вакансий</p>
                <form>
                    <input type="search" name="qv" placeholder="Например: Менеджер" {% if request.GET.qv %}value="{{ request.GET.qv }}"{% endif %}>
                    <button class="btn_yel btn_sm">НАЙТИ</button>
                </form>
                <a href="#" class="js_show_list p12 f1_dark f1_dark_under">Сферы деятельности (<b>{{ categories.count }}</b>)</a>
                <div class="js_list_hidden" style="display: none;">
                    <ul>
                        {% for cat in categories.cat_list %}
                            <li><a href="/?view=v&cat={{ cat.pk }}">{{ cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% if  request.user.is_authenticated %}
                    <a href="{% url 'catalog:cv_create' %}" class="btn_yel btn_wide">Разместить резюме</a>
                {% else %}
                    <a href="{% url 'catalog:cv_unregister' %}" class="btn_yel btn_wide">Разместить резюме</a>
                {% endif %}
                <div class="right p12 f1_dark">Всего
                    <a class="f1_dark_under" href="?view=v">вакансий:</a><b> {% get_vacancy_count %}</b>
                </div>
            </div>
        </div>
        <div class="col8">
            <div class="form_m_wrap">
                <p class="p19">РАБОТОДАТЕЛЮ</p>
                <p class="p12">Поиск резюме</p>
                <form>
                    <input type="search" name="qc" placeholder="Например: Бухгалтер" {% if request.GET.qc %}value="{{ request.GET.qc }}"{% endif %}>
                    <button class="btn_yel btn_sm">НАЙТИ</button>
                </form>
                <a href="#" class="js_show_list p12 f1_dark f1_dark_under">Сферы деятельности (<b>{{ categories.count }}</b>)</a>
                <div class="js_list_hidden" style="display: none;">
                    <ul>
                        {% for cat in categories.cat_list %}
                            <li><a href="?view=c&cat={{ cat.pk }}">{{ cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'catalog:vacancy_create' %}" class="btn_black btn_wide">Разместить вакансию</a>
                {% else %}
                    <a href="{% url 'catalog:vacancy_unregister' %}" class="btn_black btn_wide">Разместить вакансию</a>
                {% endif %}
                <div class="right p12 f1_dark">Всего
                    <a class="f1_dark_under" href="?view=c">резюме:</a><b> {% get_cv_count %}</b>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="row over_visible main_cont_wrap">
        <div class="search_head">
            <div class="col8">
                <p class="p14">Найдено <b>{{ paginator.count }} </b>{% if is_vacancy %} вакансий{% else %} резюме{% endif %}</p>
            </div>
            <div class="col8 right">
                <p class="p14">Сортировать по:
                    <select name="view" id="">
                        <option value="v" {% if is_vacancy %}selected{% endif %}>Вакансии</option>
                        <option value="c" {% if not is_vacancy %}selected{% endif %}>Резюме</option>
                    </select>
                </p>
            </div>
        </div>
    </div>

    <div class="src_result col16">
        {% if is_vacancy %}
            {% render_vacancy_list object_list %}
        {% else %}
            {% render_cv_list object_list %}
        {% endif %}
    </div>
{% endblock %}
{% block pagination %}
<div class="pagination center">
    {% if page_obj.paginator.num_pages > 1 %}
        <ul>
            {% for page in page_obj.pages %}
                <li>
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <span>{{ page }}</span>
                        {% else %}
                            <a href="?{{ page.querystring }}">{{ page }}</a>
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
{% block right_line %}
    {% get_banners request.path as banners %}
    {% autoescape off %}
        {{ banners.20|render_banner }}
        {{ banners.21|render_banner }}
        {{ banners.22|render_banner }}
        {{ banners.23|render_banner }}
        {{ banners.24|render_banner }}
        {{ banners.25|render_banner }}
        {{ banners.26|render_banner }}
        {{ banners.27|render_banner }}
        {{ banners.28|render_banner }}
        {{ banners.29|render_banner }}
        {{ banners.30|render_banner }}
        {{ banners.31|render_banner }}
        {{ banners.32|render_banner }}
        {{ banners.33|render_banner }}
        {{ banners.34|render_banner }}
        {{ banners.35|render_banner }}
        {{ banners.36|render_banner }}
        {{ banners.37|render_banner }}
        {{ banners.38|render_banner }}
        {{ banners.39|render_banner }}
    {% endautoescape %}
{% endblock %}
{% block modal %}
    <div class="modal" id="test-modal" style="display: none">
		<a href="#" class="close"><img src="{{ STATIC_URL }}img/cross.png" alt=""></a>
		<div>
			<form method="POST" id="form_1" class="formv" action="{% url 'profile:profile_set_photo' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="photo">
                <button type="submit" class="wide_yellow">Сменить фото</button>
			</form>
		</div>
    </div>
{% endblock %}