{% extends 'index.html' %}
{% block center_line %}
    <h1>Избранное</h1>
    {% if cv_fav %}
        <h2>Избранные резюме</h2>
        <div class="src_result col16">
            {% for cv in cv_fav %}
                <div class="one_line">
                    <div class="col3 no_pad">
                        {% if cv.profile.photo %}
                            <img src="{{ MEDIA_URL }}{{ cv.profile.photo }}" alt="">
                        {% else %}
                            <img src="{{ STATIC_URL }}img/conp_def.jpg" alt="">
                        {% endif %}
                    </div>
                    <div class="col13">
                        <div class="row ol_head">
                            <div class="col10">
                                <h4>{{ cv.position }}</h4>
                            </div>
                            <div class="col6 right">
                                {% if cv.desired_salary %}
                                    <p class="p14 yel_select">{{ cv.desired_salary }} Р</p>
                                {% else %}
                                    <p class="p14 yel_select">Не указано</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="short_descr">
                            <p class="p14">
                                <b>Опыт:</b> {{ cv.experience }}
                            </p>
                        </div>
                        <div class="full_descr" style="display: none;">

                        </div>
                        <div class="ol_icos">
                            <div class="col5"><a href="{% url 'catalog:delete_fav' 'cv' cv.pk %}">Удалить</a></div>
                            <div class="col5"><p class="all_views">{{ cv.view_count }} просмотров</p></div>
                            <div class="col6"><p>Добавлено: {{ cv.created|date:"j E Y" }}</p></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="ol_footer">
                        <div class="col8">
                            <p class="show_more_ol" data-type="1" data-pk="{{ cv.pk }}">Посмотреть полностью</p>
                        </div>
                        {% if request.user.profile_employer %}
                            <div class="col8 right">
                                <a href="{% url 'catalog:cv_reply' cv.pk %}" class="btn_white">Отправить приглашение</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if vac_fav %}
        <h2>Избранные вакансии</h2>
        <div class="src_result col16">
            {% for vacancy in vac_fav %}
                <div class="one_line">
                    <div class="col3 no_pad">
                        {% if vacancy.profile.logo %}
                            <img src="{{ MEDIA_URL }}{{ vacancy.profile.logo }}" alt="">
                        {% else %}
                            <img src="{{ STATIC_URL }}img/conp_def.jpg" alt="">
                        {% endif %}
                    </div>
                    <div class="col13">
                        <div class="row ol_head">
                            <div class="col10">
                                <h4>{{ vacancy.title }}</h4>
                            </div>
                            <div class="col6 right">
                                {% if vacancy.salary_min and vacancy.salary_max %}
                                    <p class="p14 yel_select">{{ vacancy.salary_min }} – {{ vacancy.salary_max }} Р</p>
                                {% elif vacancy.salary_min %}
                                    <p class="p14 yel_select">{{ vacancy.salary_min }} Р</p>
                                {% elif vacancy.salary_max %}
                                    <p class="p14 yel_select">{{ vacancy.salary_max }} Р</p>
                                {% else %}
                                    <p class="p14 yel_select">Не указано</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="short_descr">
                            <p class="p14">
                                <b>Требования:</b> {{ vacancy.requirements }}
                            </p>
                        </div>
                        <div class="full_descr" style="display: none;"></div>
                        <div class="ol_icos">
                            <div class="col5"><a href="{% url 'catalog:delete_fav' 'vac' vacancy.pk %}">Удалить</a></div>
                            <div class="col5"><p class="all_views">{{ vacancy.view_count }} просмотров</p></div>
                            <div class="col6"><p>Добавлено: {{ vacancy.created|date:"j E Y" }}</p></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="ol_footer">
                        <div class="col8">
                            <p class="show_more_ol" data-type="0" data-pk="{{ vacancy.pk }}">Посмотреть полностью</p>
                        </div>
                        {% if request.user.profile_applicant %}
                            <div class="col8 right">
                                <a href="{% url 'catalog:vac_reply' vacancy.pk %}" class="btn_white">Отправить резюме работодателю</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
