{% extends 'index.html' %}
{% block center_line %}
    <h1>Мои вакансии</h1>
    {% for vacancy in vacancy_list %}
        <div class="one_line">
            <div class="col3 no_pad">
                {% if vacancy.profile.logo %}
                    <img src="{{ MEDIA_URL }}{{ vacancy.profile.logo }}" alt="">
                {% else %}
                    <img src="{{ STATIC_URL }}img/conp_def.jpg" alt="">
                {% endif %}
            </div>
            <div class="col13">
                <div class="row ol_head">
                    <div class="col10">
                        <h4>{{ vacancy.title }}</h4>
                    </div>
                    <div class="col6 right">
                        {% if vacancy.salary_min and vacancy.salary_max %}
                            <p class="p14 yel_select">{{ vacancy.salary_min }} – {{ vacancy.salary_max }} Р</p>
                        {% elif vacancy.salary_min %}
                            <p class="p14 yel_select">{{ vacancy.salary_min }} Р</p>
                        {% elif vacancy.salary_max %}
                            <p class="p14 yel_select">{{ vacancy.salary_max }} Р</p>
                        {% else %}
                            <p class="p14 yel_select">Не указано</p>
                        {% endif %}
                    </div>
                </div>
                <div class="short_descr">
                    <p class="p14">
                        <b>Требования:</b> {{ vacancy.requirements|default:'Не указано' }}
                    </p>
                </div>
                <div class="full_descr">
                    <div><p class="p14">Требуемый опыт работы: <b>{{ vacancy.expiriens|default:'Не указано' }}</b></p></div>
                    <div>
                        <p class="p14 p14_sub"><b>Описание вакансии</b></p>
                        <p class="p14">{{ vacancy.description|default:'Не указано' }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Требования:</b></p>
                        <p class="p14">{{ vacancy.requirements|default:'Не указано' }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Обязанности:</b></p>
                        <p class="p14">{{ vacancy.charge|default:'Не указано' }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Условия:</b></p>
                        <p class="p14">{{ vacancy.conditions|default:'Не указано' }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Компания:</b> {{ vacancy.profile.company }}</p>
                        <p class="p14 p14_sub"><b>Телефон:</b> {{ vacancy.profile.phone }}</p>
                        <p class="p14 p14_sub"><b>E-mail:</b> {{ vacancy.profile.user.email }}</p>
                    </div>
                </div>
                <div class="ol_icos">
                    <div class="col5">&nbsp;</div>
                    <div class="col5"><p class="all_views">{{ vacancy.view_count }} просмотров</p></div>
                    <div class="col6"><p>Добавлено: {{ vacancy.created|date:"j E Y" }}</p></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="ol_footer">
                <div class="col6">
                    <p class="show_more_ol">Посмотреть полностью</p>
                </div>
                <div class="col5 right">
                    <a href="{% url 'catalog:update_vacancy' vacancy.pk %}" class="edit_res">Редактировать</a>
                </div>
                <div class="col5 right">
                    <a href="#" class="delete_from_fav">Удалить вакансию</a>
                </div>
            </div>
        </div>
    {% empty %}
        Вакансий не найдено
    {% endfor %}
{% endblock %}