{% extends 'index.html' %}
{% block center_line %}
    <h1>Отправить отклик</h1>
    <div class="my_list_page">
        <div class="my_list_body">
            <div class="row">
                <div class="col12 ml_descr">
                    <p>Выберите резюме:</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for cv in cv_list %}
                            <div>
                                <label for="">{{ cv.position }}</label>
                                {% if forloop.first %}
                                    <input type="radio" value="{{ cv.pk }}" name="cv" checked>
                                {% else %}
                                    <input type="radio" value="{{ cv.pk }}" name="cv">
                                {% endif %}
                            </div>
                        {% endfor %}
                        <input type="submit" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}