{% extends 'index.html' %}
{% block center_line %}
    <h1>Пригласить на собеседование</h1>
    <div class="my_list_page">
        <div class="my_list_body">
            <div class="row">
                <div class="col12 ml_descr">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.errors }}
                        {% for field in form %}
                            <div>
                                <label for="">{{ field.label }}</label>
                                {{ field }}
                                {% for err in field.errors %}
                                    <p>{{ err }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <input type="submit" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
