{% extends 'index.html' %}
{% block center_line %}
    <h1>Редактировать вакансию</h1>
    <div class="my_list_page">
        <div class="my_list_body">
            <div class="row">
                <div class="col4 ml_photo">
                    {% if photo %}
                        <img src="{{ MEDIA_URL }}{{ photo }}" alt="">
                    {% else %}
                        <img src="{{ STATIC_URL }}img/conp_def.jpg" alt="">
                    {% endif %}
                    <a href="#" class="p14 js_trigger">Загрузить фото</a>
                </div>
                <div class="col12 ml_descr">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.errors }}
                        {% for field in form %}
                            <div>
                                <label for="">{{ field.label }}</label>
                                {{ field }}
                                {% for err in field.errors %}
                                    <p>{{ err }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <input type="submit" value="Обновить">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div class="modal" id="test-modal" style="display: none">
		<a href="#" class="close"><img src="{{ STATIC_URL }}img/cross.png" alt=""></a>
		<div>
			<form method="POST" id="form_1" class="formv" action="{% url 'profile:profile_set_photo' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="photo">
                <button type="submit" class="wide_yellow">Сменить фото</button>
			</form>
		</div>
    </div>
{% endblock %}