{% extends 'index.html' %}
{% block center_line %}
    <div class="src_result col16" style="padding-top: 50px">
        <div class="one_line {% if obj.in_top %}in_top{% endif %}">
            <div class="col3 no_pad">
                {% if obj.profile__logo %}
                    <img src="{{ MEDIA_URL }}{{ obj.profile__logo }}" alt="">
                {% else %}
                    <img src="{{ STATIC_URL }}img/conp_def.jpg" alt="">
                {% endif %}
            </div>
            <div class="col13">
                <div class="row ol_head">
                    <div class="col10">
                        <h4>{{ obj.title }}</h4>
                    </div>
                    <div class="col6 right">
                        {% if obj.salary_min and obj.salary_max %}
                            <p class="p14 yel_select">{{ obj.salary_min }} – {{ obj.salary_max }} Р</p>
                        {% elif obj.salary_min %}
                            <p class="p14 yel_select">{{ obj.salary_min }} Р</p>
                        {% elif obj.salary_max %}
                            <p class="p14 yel_select">{{ obj.salary_max }} Р</p>
                        {% else %}
                            <p class="p14 yel_select">Не указано</p>
                        {% endif %}
                    </div>
                </div>
                <div class="short_descr">
                    <p class="p14">
                        <b>Требования:</b> {{ obj.requirements }}
                    </p>
                </div>
                <div class="full_descr" style="display: block">
                    <div>
                        <p class="p14">Требуемый опыт работы: <b>{{ obj.experience|default:"Не указано" }}</b></p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Описание вакансии</b></p>
                        <p class="p14">{{ obj.description|default:"Не указано" }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Обязанности:</b></p>
                        <p class="p14">{{ obj.charge|default:"Не указано" }}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Условия:</b></p>
                        <p class="p14">{{ obj.conditions|default:"Не указано"}}</p>
                    </div>
                    <div>
                        <p class="p14 p14_sub"><b>Компания:</b> {{ obj.profile.company }}</p>
                        <p class="p14 p14_sub"><b>Телефон:</b> {{ obj.profile.phone }}</p>
                        <p class="p14 p14_sub"><b>E-mail:</b> {{ obj.profile.email }}</p>
                    </div>
                </div>
                <div class="ol_icos">
                    <div class="col5"><p class="all_views">{{ obj.view_count }} просмотров</p></div>
                    <div class="col6"><p>Добавлено: {{ obj.created|date:"j E Y" }}</p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_js %}
    <script>
        $('.header').css('display', 'none');
        $('.left_nav').css('display', 'none');
        $('.left_links').css('display', 'none');
        $('.right_links').css('display', 'none');
        $('.pagination').css('display', 'none');
        $('.content_bottom').css('display', 'none');
        $('.footer').css('display', 'none');
    </script>
{% endblock %}